@import '../node_modules/axios-progress-bar/dist/nprogress.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn{@apply bg-blue-600 m-2 p-2 rounded-xl hover:bg-blue-700 hover:-translate-y-1 transition-all duration-500 text-white font-medium active:scale-75}
}

*{font-family: 'Asap Condensed', sans-serif;}

/*Firefox */
* { scrollbar-width: thin; scrollbar-color: blue white; }
/*Chrome, Edge, and Safari */
*::-webkit-scrollbar { width: 8px; }
*::-webkit-scrollbar-track { background: white; }
*::-webkit-scrollbar-thumb { background-color: blue; border-radius: 20px; border: 2px solid white; }